{%extends "interna.html"%}
{%block title%}Municipio - {{m.nombre}}{%endblock%}
{%block extra_header%}
	
<script type="text/javascript"> 
$(document).ready(function() {
    $("#caracterizacion").show();
    $("#potencialidad").hide();
    $("#gobierno").hide();
    $("#enlaces").hide();
    
    $("#caracterizacion_e").click(function(){
        $("#caracterizacion").show();
        $("#potencialidad").hide();
        $("#gobierno").hide();
        $("#enlaces").hide();
        return false;
    });
    
    $("#potencialidad_e").click(function(){
        $("#caracterizacion").hide();
        $("#potencialidad").show();
        $("#gobierno").hide();
        $("#enlaces").hide();
        return false;
    });

    $("#gobierno_e").click(function(){
        $("#caracterizacion").hide();
        $("#potencialidad").hide();
        $("#gobierno").show();
        $("#enlaces").hide();
        return false;
    });

    $("#enlaces_e").click(function(){
        $("#caracterizacion").hide();
        $("#potencialidad").hide();
        $("#gobierno").hide();
        $("#enlaces").show();
        return false;
    });
});
</script>
{%endblock%}

    {%block cuerpo%}
        <h2>Municipio de {{m.nombre}}</h2>
        <div id="acciones_municipio">
            <a id ="caracterizacion_e" href="#">Caracterización</a>
            <a id ="potencialidad_e" href="#">Potencialidades</a>
            <a id ="gobierno_e" href="#">Gobiernos locales</a>
            <a id ="enlaces_e" href="#">Enlaces</a>
            <a href="/documentos/{{m.documentacion.categoria.slug}}/{{m.documentacion.slug}}">Documentos</a>
        </div>

        <div id="contenido_pagina">
            <div id="caracterizacion">
                <p><b>CARACTERIZACION</b></p>
                {{m.caracterizacion|safe}}
            </div>
            <div id="potencialidad">
                <p><b>POTENCIALIDADES</b></p>
                {{m.pontencialidades|safe}}
            </div>
            <div id="gobierno">
                <p><b>GOBIERNO LOCAL</b></p>
                {{m.gobierno|safe}}
            </div>
            <div id="enlaces">
                <p><b>ENLACES</b></p>
                {{m.enlaces|safe}}
            </div>
        </div>
        <br>        


    {%endblock %}
