 {%extends "base.html"%}
 {%block extra_header%}
<script type="text/javascript"> 
    $(document).ready(function() {
    $("#estemes").show();
    $("#proximomes").hide();
    $("#enlace_estemes").click(function(){
        $("#estemes").show();
        $("#proximomes").hide();
        return false;
    });
    
    $("#enlace_proximomes").click(function(){
        $("#estemes").hide();
        $("#proximomes").show();
        return false;
    });
 
    });
</script> 
 {%endblock%}

 {%block contenido%}
    <div id="acerca_de">
            <img src="{{MEDIA_URL}}/imagen/logo_index.jpg" align="right" style="float:right">
            <p>penatibus ac magna magnis nisi augue turpis eu eu, eros, magna magnis nisi augue turpis eu eu, eros turpis purus dolor natoque? Mauris! Natoque velit, pulvinar. Nascetur, enim! Cras pellentesque! Porttitor lorem augue et est et quis penatibus! Velit porttitor duis ac! Turpis rhoncus? Proin rhoncus integer adipiscing, elementum sit, nunc vut enim in ac dis proin placerat ultrices lectus, velit, proin. Et eu nec et montes scelerisque magna pulvinar, mus. Dictumst, integer ac, auctor eu ac, 
            </p>
            <div class="enlaces_inicio">
                <a class="con_flechita" href="/paginas/servicios">Conoce los servicios</a>
            </div><br><br>
    </div>

    <div class="bloque_inicio noticias">
        {% for noticia in noticia %}
        <div class="contenedor_noticia_inicio">
        <br>
            {%if noticia.imagen %}<a href="/noticias/{{noticia.slug}}"><img src="{{noticia.imagen.url_160x90}}"></a>{%endif%}
            <a class="izq"href="/noticias/{{noticia.slug}}">{{noticia.titulo}}</a>
            <div class="fecha_noticia izq"><i>{{noticia.fecha|date:"d M Y"}}</i></div>
            <div class="separador"></div>
            <p>{{noticia.contenido|truncatewords_html:18|safe}}</p>
        </div>
        {%endfor%}
        <div class="enlaces_inicio_manorpa">
            <a class="sig_flechita" href="/noticias">Todas las noticias</a>
        </div>
    </div>

        <div class="bloque_inicio eventos">
            <div id="estemes">
                <div class="separador"></div><br>
                {%for eventos in eventos%}
                <div class="fecha_evento">{{eventos.fecha_inicio|date:"d M"}}</div>
                <div class="titulo_evento"><a href="/eventos/evento/{{eventos.slug}}">{{eventos.titulo}}</a></div>
                <div class="separador"></div><br>
                {%endfor%}
            </div>
            <div id="proximomes">
                <div class="separador"></div><br>
                {%for eventos_prox in eventos_prox%}
                <div class="fecha_evento">{{eventos_prox.fecha_inicio|date:"d M"}}</div>
                <div class="titulo_evento"><a href="/eventos/evento/{{eventos_prox.slug}}">{{eventos_prox.titulo}}</a></div>
                <div class="separador"></div><br>
                {%endfor%}
            </div>
            <div class="enlaces_inicio_manorpa">
                  <a href="/eventos" class="sig_flechita">Todos los eventos</a>  <a id="enlace_proximomes" href="#" class="sig_flechita">Próximo mes </a> <a id="enlace_estemes" href="#">Este mes</a>
            </div>
            <div class="separador"></div>
        </div>

    <div class="bloque_inicio editorial">
        {% for editorial in editorial %}
        <div class="contenedor_editorial_inicio">
            {%if editorial.autor.imagen %}<a class="izq" href="/editoriales/{{editorial.slug}}"><img src="{{editorial.autor.imagen.url_75x95}}"></a>{%endif%}
            <div class="editorial_autor"><b>{{editorial.autor.nombre}}</b></div>
            <div class="editorial_cargo"><i>{{editorial.autor.cargo}}</i></div><br>
            <a class="izq"href="/editoriales/{{editorial.slug}}">{{editorial.titulo}}</a>
            <div class="separador"></div>
            <p>{{editorial.contenido|truncatewords_html:30|safe}}</p>

        {%endfor%}
        </div>
        <div class="enlaces_inicio_manorpa">
            <a class="sig_flechita" href="/editoriales">Todas las editoriales</a>
        </div>
    </div>

 {% endblock %}
