 {%extends "base.html"%}
 {%block extra_header%}
<script type="text/javascript"> 
    $(document).ready(function() {
    $("#estemes").show();
    $("#proximomes").hide();
    $("#enlace_estemes").click(function(){
        $("#estemes").show();
        $("#proximomes").hide();
        return false;
    });
    
    $("#enlace_proximomes").click(function(){
        $("#estemes").hide();
        $("#proximomes").show();
        return false;
    });
 
    });
</script> 
 {%endblock%}

 {%block contenido%}
    <div id="inicio_izq" class="izq">
        <div class="bloque_inicio">
            <h2>MANORPA</h2>
            <img src="{{MEDIA_URL}}/imagen/logo_index.jpg" align="right" style="float:right">
            <p>Nisi amet non scelerisque mauris, rhoncus odio porttitor turpis nec rhoncus magna, amet turpis ultricies enim nascetur scelerisque penatibus ac magna magnis nisi augue turpis eu eu, eros, turpis purus dolor natoque? Mauris! Natoque velit, pulvinar. Nascetur, enim! Cras pellentesque! Porttitor lorem augue et est et quis penatibus! Velit porttitor duis ac! Turpis rhoncus? Proin rhoncus integer adipiscing, elementum sit, nunc vut enim in ac dis proin placerat ultrices lectus, velit, proin. Et eu nec et montes scelerisque magna pulvinar, mus. Dictumst, integer ac, auctor eu ac, 

            </p>
                <div class="enlaces_inicio">
                    <a class="con_flechita" href="/paginas/servicios">Conoce los servicios</a>
                </div><br><br>
        </div>
        <div class="bloque_inicio">
            <h2>Próximos Eventos</h2>
            <div class="enlaces_inicio">
                <a id="enlace_estemes" href="#">Este mes</a> <a id="enlace_proximomes" href="#" class="con_flechita">Próximo mes </a> <a href="/eventos" class="con_flechita">Todos los eventos</a> 
            </div>
            <div id="estemes">
                <div class="separador"></div><br>
                {%for eventos in eventos%}
                <div class="fecha_evento">{{eventos.fecha_inicio|date:"d M"}}</div>
                <div class="titulo_evento"><a href="/eventos/evento/{{eventos.slug}}">{{eventos.titulo}}</a></div>
                <div class="separador"></div><br>
                {%endfor%}
            </div>
            <div id="proximomes">
                <div class="separador"></div><br>
                {%for eventos_prox in eventos_prox%}
                <div class="fecha_evento">{{eventos_prox.fecha_inicio|date:"d M"}}</div>
                <div class="titulo_evento"><a href="/eventos/evento/{{eventos_prox.slug}}">{{eventos_prox.titulo}}</a></div>
                <div class="separador"></div><br>
                {%endfor%}
            </div>
        </div>
    </div>
    <div id="inicio_der" class="der">
        <h2>Noticias</h2>
        {% for noticia in noticia %}
        <div class="contenedor_noticia_inicio">
            {%if noticia.imagen %}<a href="/noticias/{{noticia.slug}}"><img src="{{noticia.imagen.url_178x90}}"></a>{%endif%}
            <a href="/noticias/{{noticia.slug}}">{{noticia.titulo}}</a>
            <p>{{noticia.contenido|truncatewords_html:15|safe}}</p>
        </div>
        {%endfor%}
        <div class="enlaces_inicio">
            <a class="con_flechita" href="/noticias">Todas las noticias</a>
        </div>
    </div>
 {% endblock %}
